.benefits-section{
    display:flex;
    flex-direction:column;
    padding-top:150px;
    row-gap: 120px;
}
.benefit-first-part{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.benefit-first-text-content{
    width: 75%;
    justify-self: end;
    display:flex;
    flex-direction:column;
    row-gap: 40px;
}
.benefit-second-part{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.benefit-second-image{
    display: flex;
    justify-content: flex-end; 
    justify-self: end;
}

.benefit-second-text-content{
    width: 75%;
    justify-self: start;
    display:flex;
    flex-direction:column;
    row-gap: 40px;
    padding-left:20px;
}