header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 9999;
    height: 100px;
    display: flex;
    align-items: center;
}

.intern-header {
display:flex;
flex-direction:row;
justify-content: space-between;
align-items: center;
}

.logo {
    font-family: 'Bayon', sans-serif;
    font-size: 48px;
    margin: 0;
    text-decoration: none;
    color: #0F0304;
}
a:hover{
    color: #0F0304;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 46px;
    align-items: center;
    height: 100%;
    margin-left: auto;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 44px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.nav-list li {
    cursor: pointer;
}

.nav-list a {
    text-decoration: none;
    color: #0F0304;
}

.nav-icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.nav-icons img {
    cursor: pointer;
} 