.hero-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 80vh;
    padding-top: 100px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 62px;
    padding-left: 100px;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

.hero-circle {
    position: absolute;
    top: 0;                  
    left: 50%;
    transform: translateX(-50%);
    height: 100%;             
    z-index: 1;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:100px;
}

.hero-circle img {         
    height: 100%;            
    width: auto;             
    display: block;
}
.hero-line {
    position: absolute;
    top: 0;                    
    left: 50%;
    transform: translateX(-50%);
    height: 250vh;            
    z-index: 100000;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-circle line {         
    height: 100%;             
    width: auto;               
    display: block;
}