.product-section{
    padding-top: 150px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    position:relative;
}
.product-section-text{
    display:flex;
    flex-direction:column;
    gap:34px;
}
.produc-section-photo img{
width:100%;
height:832px;
object-fit: cover;
}
.product-section-text p{
width: 58%;
}
.circle-button{
    position: absolute;
    bottom: 0;             
    left: 45%;           
    transform: translateX(-50%);  
    color:#6B1E23;
    font-weight: 600;
    width: 450px;          
    height: 450px;
    border-radius: 100%;     
    border: 1px solid #6B1E23;
    background: none;
    cursor: pointer;
    z-index: 10;   
}