.top-watches-section{
    margin-top: 150px;
    display:grid;
   grid-template-columns: repeat(4, 1fr);
   border: 1px solid #000;
}
.top-watches-text{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 16px;
}